extends ../modules/foundation
append php
  :php
    include_once $_SERVER['DOCUMENT_ROOT'] . '/functions.php';
append init
  link#default-style(rel="stylesheet", href!="<?php timestamp('/styles/index.css'); ?>")
append body
  #document
    header#header
      block header
    main#contents
      block contents
    footer#footer
      block footer
append foot
  script(src!="<?php timestamp('/scripts/index.js'); ?>")
