extends ../components/foundation
append vars
  - var primarymenu = 'rec';
block title
  title バーンフュージョン
append contents
  p Hello, world! It's home ! #[i.icons--crown]
append footer
  .section.copyright
