*
*::before
*::after
  outline: 0;
  margin:  0;
  border:  0;
  padding: 0;

@import "modules"

iconfont('icon');

sprite1 = spritesheet('sprite');
sprite2 = spritesheet('sprite2');
.sprite1 {
  sprite1('logomark');
}

.sprite2 {
  sprite2('logotype-large');
}
